<%=form_for(Cake.new, multipart: true) do |f|%>
  <%=f.label :photo%>
  <%=f.file_field :photo%>
  <%=f.submit "Save Cake"%>
<%end%>

<%@cakes.all.each do |cake|%>
  <div>
    <%=image_tag(cake.photo.url(:thumb))%>
  </div>
<%end%>

