<div id="home-index-nav-container">
  <span class="nav-btn"><%=link_to "about", "/about"%></span>
  <span class="nav-btn"><%=link_to "gallery", "#"%></span>
  <%=image_tag("torte_bakery_logo", size: "300x300", id: "torte_bakery_logo")%>
  <span class="nav-btn"><%=link_to "contact", "#"%></span>
  <span class="nav-btn"><%=link_to "flavors", "#"%></span>
</div>