<div id="home-index-nav-container">
  <div id="bullet-headings-container">
    <span class="bullet-heading">Weddings</span>
    <span><%=fa_icon("circle")%></span>
    <span class="bullet-heading">Special Occasions</span>
    <span><%=fa_icon("circle")%></span>
    <span class="bullet-heading">Birthdays</span>
    
  </div>
  <div id="home-index-nav-main-container">
    <span class="nav-btn"><%=link_to "about", "/about"%></span>
    <span class="nav-btn"><%=link_to "gallery", "/gallery"%></span>
    <%=image_tag("https://tortebakery.s3.us-east-2.amazonaws.com/photos/torte_bakery_logo.png", size: "300x300", id: "torte_bakery_logo")%>
    <span class="nav-btn"><%=link_to "contact", "#"%></span>
    <span class="nav-btn"><%=link_to "flavors", "#"%></span>
  </div>
  <div id="social-media-links-container">
    <div id="home-index-city">Saint Louis, MO</div>
    <%=link_to(fa_icon("facebook"), "https://www.facebook.com/tortebakery/", id:"facebook-icon")%>|<%=link_to(fa_icon("instagram"), "https://www.instagram.com/thegreeneyedbaker/", id: "instagram-icon")%> 
  </div>
</div>